<div class='container'>
  <%= form_with url: recipe_recipe_foods_path, scope: :recipe_food, class: do |form| %>
    <h4 class='add'>Add Ingredient</h4>
      <div class='inner-container'>
        <%= form.label :quantity, 'Quantity', class: 'form-label' %>
        <%= form.number_field :quantity, class: 'form-control' %>
      </div>
    <div class='inner-container'>
      <%= form.label :food_id, 'Food', class: 'form-label' %>
      <div>
        <%= form.collection_select(:food_id, @foods, :id, :name, {prompt: 'Please select a food'}, {class: 'form-select'}) %>
      </div>
    </div>
    <div class='submit'>
      <%= form.submit 'Add Ingredient', class: 'btn' %>
    </div>
  <% end %>
</div>
<%# So, this might be what we are left with %>